:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'League Spartan', sans-serif;
}

main {
    width: 65%;
    height: max-content;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    padding: 0.5rem;
    border-radius: 10px;
}

section:first-of-type,
section:nth-last-of-type(2) {
    width: 45%;
}

.headline-container__header{
    color: var(--very-dark-magenta);
    font-size: 2rem;
    font-weight: 700;
}

.headline-container__description{
    color: var(--dark-grayish-magenta);
    font-weight: 500;
}

.ratings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ratings-container__rating {
    width: 60%;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    
    display: flex;
    align-items: center;
    gap: 1.5rem;

    border-radius: 10px;
    background: var(--light-grayish-magenta);
}

.ratings-container__rating:first-of-type {
    align-self: flex-start;
}

.ratings-container__rating:nth-of-type(2) {
    align-self: center;
    margin: 1rem 0 1rem 0;
}

.ratings-container__rating:last-of-type {
    align-self: flex-end;
}

.rating__text{
    font-size: small;
    font-weight: 700;
    color: var(--very-dark-magenta);
}

.testimonies-container {
    height: 15em;
    display: flex;
}

.testimonies-container__testimony:first-of-type {
    align-self: flex-start;
}

.testimonies-container__testimony:nth-of-type(2) {
    align-self: center;
}

.testimonies-container__testimony:last-of-type {
    align-self: flex-end;
}

.testimonies-container__testimony {
    height: min-content;
    background-color: var(--very-dark-magenta);
}

.testimony__profile {
    display: flex;
}

.informations__name{
    color: var(--white);
}

.informations__isVerified{
    color: var(--soft-pink);
}

.testimonies-container__text{
    color: var(--white);
}